body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73,80,87);
}

header{
    background-color: rgb(231, 236, 241);
}

.liens{
    color: rgb(73,80,87);
}

.t2{
   color: rgb(249, 107, 18); 
   margin-top: 250px;
}