body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73,80,87);
}

header{
    background-color: rgb(231, 236, 241);
}
.para1{
    margin-top: 150px;
   font-size: large;
}
.liens{
    color: rgb(73,80,87);
}

.t2{
   color: rgb(249, 107, 18); 
   margin-top: 250px;
}
.titre2{
    margin-top: 100px;
    
}

.card{
    width: 22rem;
    height: 50rem;
}

.reseau{
    width: 5rem;
    margin-top: 5em;
}
.parag-developpement{
    margin-top: 5em;
}
.r2{
    margin-top: 6em;
}
.etudes{
    margin-top: 4em ;
}
.hr1{
    width: 50em;
    margin-top: 8em;   
}

.hr2{
    width: 10em;
    margin-top: 4em;
    
}
    