body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73,80,87);
}

header{
    background-color: rgb(231, 236, 241);
    background-image: radial-gradient(circle at top left,rgb(209, 213, 218),  white);
}
.para1{
    margin-top: 100px;
   font-size: medium;
   
   
}
.liens{
    color: rgb(73,80,87);
}

.t2{
   color: rgb(249, 107, 18); 
   margin-top: 250px;
}
.titre2{
    margin-top: 80px;
    
}

.card{
    width: 22rem;
    height: 50rem;
    background-image: radial-gradient(circle at top left,rgb(230, 233, 238),  white);
}

.card2{
    background-image: radial-gradient(circle at top left,rgb(230, 233, 238),  white);
}

.reseau{
    width: 5rem;
    margin-top: 5em;
}
.parag-developpement{
    margin-top: 5em;
}
.r2{
    margin-top: 6em;
}
.etudes{
    margin-top: 4em ;
}
.hr1{
    width: 35em;
    margin-top: 8em;  
    background-image: radial-gradient(circle at top left,rgb(230, 233, 238),  white);
}
.hr2{
    width: 4em;
    margin-top: 4em;
    
}
.img-carte1{
    margin-left: 2em;
}
.img-carte2{
    margin-left: 3em;
}

.img-carte3{
    margin-left: 1em;
}

.img-couple{
    margin-left: 8em;
}


    